* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@100;400&family=Playfair+Display&display=swap');

body {
    font-family: 'Lato', sans-serif;
}

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
    min-width: 0;
}

button {
    border: none;
    outline: none;
    font-family: inherit;
}


/*________________________Scroll barr*_____________________________________*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*_____________________________________________________________________________*/

header {
    padding: 15px;
    background-color: #7f837f;
    color: white;
}

main {
    height: 100%;
    padding: 15px;
}

footer  {
    position: fixed;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    background-color: #7f837f;

}

.app-name {
    width: 200px;
    margin: 0 auto 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    letter-spacing: 2px;
}

.header_nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 50px;
    margin-bottom: 20px;
}

.header_nav_input_field {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    flex-grow: 1;
}

.header_nav_input_field input {
    outline: none;
    border: 1px solid white;
    border-right: none;
    background-color: white;
    flex-grow: 1;
    font-size: 25px;
    padding: 5px;
    border-radius: 5px 0 0 5px;
}

.search_list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 10px;
    position: absolute;
    z-index: 100;
    top: 50px;
    padding: 5px;
    width: 100%;
    max-height: 500px;
    overflow: auto;
    color: white;
    background-color: #454845;
    border-radius: 5px;
}

.search_list .beer_card {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 5px;
    max-height: 120px;
    margin-bottom: 10px;
}

.search_list img {
    max-height: 120px;
    order: 1;
    flex-grow: 1;
}

.search_list .card_header {
    order: 2;
    flex-grow: 1;
}

.search_list .description {
    order: 3;
    flex-grow: 3;
}

.search_list .beer-card_bottom {
    order: 4;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: end;
    flex-grow: 1;
}

.search_list .add-to-favorites-btn {
    color: black;
    border-radius: 3px;
    font-size: 15px;
    height: 20px;
    width: 100px;
}

.search_list .add-to-favorites-btn:hover {
    background-color: #666966;
    color: white;
    transition: background-color 100ms ease-out;
}

#search_icon {
    min-width: 50px;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    border: 1px solid white;
    border-left: none;
}

.header_nav_input_field i:hover {
    background-color: #666966;
    transition: background-color 200ms;
}

.favourites-btn {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 15px;
    color: white;
    background-color: #7f837f;
    padding: 5px 20px;
    border: 1px solid white;
    border-radius: 5px;
    text-transform: uppercase;
}

.favourites-btn.available {
    background-color: coral;
}

.favourites-btn.available:hover {
    background-color: chocolate;
    transition: background-color 200ms;
}

.recent_searches {
    display: flex;
    flex-flow: row wrap;

    align-items: center;
    gap: 10px;
}

.recent_searches ul {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 10px;
}

.recent_search_item:hover {
    text-decoration: underline;
    cursor: pointer;
}

main .main_list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
}

main .beer_card {
    display: grid;
    grid-template-rows: max-content 200px 1fr;
    gap: 5px;
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
    color: #7f837f;
}

main .card_header {
    text-align: center;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    color: black;
}

main .beer-card_bottom {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

 main .price {
    color: #454845;
}

 main .card_image {
    border: 1px solid #ddd;
    border-radius: 4px;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

main .add-to-favorites-btn {
    font-size: 15px;
    height: 20px;
    min-width: 100px;
    border-radius: 3px;
}

main .add-to-favorites-btn:hover {
    background-color: #555555;
    color: white;
}

.add-to-favorites-btn.in-favorites {
    background-color: coral;
    color: white;

}

.add-to-favorites-btn.in-favorites:hover {
    background-color: chocolate;
    color: white;
    transition: background-color 100ms;
}

#load_more {
    font-family: 'Playfair Display', serif;
    display: block;
    width: 100px;
    margin: 0 auto;
    letter-spacing: 1px;
    text-decoration: none;
    color: gray;
}

#scroll-to-top-btn {
    position: fixed;
    z-index: 50;
    bottom: 15px;
    right: 15px;
    font-size: 70px;
    color: #7f837f;
    cursor: pointer;
    transition: opacity 300ms;
}





